
server {
   listen 80;
   location / {
      proxy_pass http://app-stream;
   }
}
upstream app-stream {
   server ${ACTIV_APP_ENDPOINT}:3002 ${ACTIV_APP_PARAM};
   server ${ALTER_APP_ENDPOINT}:3002 ${ALTER_APP_PARAM};
}
